body {
  font-family: Arial, Helvetica, sans-serif;
}

.container-footer {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: lightslategray;
  color: #fff;
  padding: 20px;
  text-align: center;
}
