body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}

footer {
  background-color: lightslategray;
  color: #fff;
  padding: 20px;
  text-align: center;
}
